.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    font-family: "Spartan", sans-serif;
    font-size: 15px;
}

.container1 {
    display: grid;
    align-content: center;
    margin: 15vh 10vh 10vh 10vh;
    grid-template-columns: 1fr 0fr 1fr;
}